<div class="container">
  <h2>Waiting Jobs</h2>
  <% if @jobs.size > 0 %>
  <ul>
    <% @jobs.each do |job| %>
    <li><%= job %>
    <% end %>
  </ul>
  <% else %>
    None
  <% end %>

  <h2>Workers</h2>

  <% if @workers.size > 0 %>
  <ul>
    <% @workers.each do |worker| %>
      <% if worker.job.empty? %>
      <li><%= worker.to_s %> Idle</li>
      <% else %>
      <li><%= worker.to_s %> Downloading <%= worker.job["payload"]["args"].first["url"] %></li>
      <% end %>
    <% end %>
  </ul>
  <% else %>
    None
  <% end %>
</div>
